.about {
	margin-top: 25px;
	margin-bottom: 25px;
}

.about span {
	color: red;
}

.about span:hover {
	color: maroon;
}

.nomen {
	color: red;
	font-size: 36px;
	text-align: center;
	font-family: 'Crete Round', serif;
}