.map {
	border-top: 4px solid #1d3362;
	padding-top: 25px;
	border-bottom: 4px solid #1d3362;
	padding-bottom: 25px;
}

.img-corp {
	width: 350px;
	height: auto;
	display: block;
	opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.img-corp:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.text-center {
	text-align: center;
}

.socialnet {
	display: inline-flex;
	padding-top: 25px;
	padding-bottom: 25px;
}

.socialnet span {
	padding-left: 10px;
}

i {
	font-size: 25px;
}

.iface {
	color: #1d3362;
}

.itwit{
	color: cornflowerblue;
}

.iyout{
	color: red;
}

.waytous {
	width: 100%;
}